body{
    margin: 0px;
    background-image: url("https://www.bungie.net/common/destiny2_content/screenshots/1833195496.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
}

main{
    background-color: rgba(71, 102, 151, 0.2);
    display: inline-block;
    text-align: center;
    padding: 2% 2% 0 2%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5%;
}

main h1{
    margin: 0px;
}

main button{
    margin-top: 5%;
    margin-bottom: 5%;
}

#killCounter{
    color: rgb(233, 201, 54);
    font-family: 'Roboto Mono', monospace;
    font-size: 500%;
    margin: 0px;
}