body{
    margin: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    transition-duration: 0.5s;
}

main{
    transition-duration: 0.5s;
    display: inline-block;
    text-align: center;
    padding: 2% 2% 0 2%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5%;
}

main h1{
    margin: 0px;
}

main button{
    margin-bottom: 5%;
}

#killCounter{
    color: rgb(233, 201, 54);
    font-family: 'Roboto Mono', monospace;
    font-size: 500%;
    margin: 0px;
}

input{
    border: 4px;
    width: 20%;
    border-image: linear-gradient(to top, rgb(234, 222, 139), rgb(233, 201, 54)) 1;
}